* {
  background: #eaeaea;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.auth {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #253a82;
}

.form-section {
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  background-color: #253a82;
  width: 56%;
  max-width: 1000px;
  height: 72vh;
  max-height: 660px;
  display: flex;
  justify-content: space-between;
}
#site-name {
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  background-color: #253a82;
  color: #c9e4ff;
}
.tag-line {
  margin-top: -10px;
  width: 100%;
  background-color: #253a82;
  color: #c9e4ff;
}
.form-group {
  background-color: #c9e4ff;
  position: relative;
  padding-top: 6px;
  margin: 0px;
}
#logo,
#logo-home {
  font-weight: 600;
  font-size: 36px;
  color: #253a82;
  background-color: #eaeaea;
  padding: 20px 0px 0px 20px;
}
#logo-home {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
#errorMessage {
  color: red;
  font-size: smaller;
  background-color: inherit;
}
.form-section div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
}
.form-section form {
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  background-color: #c9e4ff;
}

.form-section-child {
  background-color: #253a82;
  width: 49%;
}

.create-post,
.post {
  background-color: #253a82;
  padding: 20px;
  height: fit-content;
  border-radius: 20px;
  width: 100%;
}

.post {
  margin: 16px 0px 0px 0px;
  border-radius: 6px;
  border: none;
}

.heading,
.create-post-heading {
  font-size: 36px;
  margin-bottom: 16px;
  color: #253a82;
  background-color: inherit;
}
.create-post-heading {
  font-size: 28px;
  color: #c9e4ff;
}

.post-heading {
  margin: 0px 0px 16px 0px;
}

.post-content,
input {
  color: white;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #c9e4ff88;
  resize: none;
  background-color: #253a82;
}
.post-content::placeholder {
  font-size: medium;
  color: #c9e4ff8e;
}
input {
  color: black;
  border: 1px solid #253a82;
  margin-bottom: 10px;
  background-color: #ffffff00;
  font-size: 16px;
  height: 38px;
  width: 100%;
  /* padding: 10px 35px 10px 10px; */
}
input::placeholder {
  font-size: medium;
  color: #253a82;
}
.icons-no,
.icons-yes {
  background-color: #c9e4ff;
  position: absolute;
  right: 10px;
  top: 16px; /* adjust based on input height */
  color: #a72828;
  font-size: 20px;
}
.icons-yes {
  color: green;
}
button {
  color: #ffffff;
  padding: 10px 0px 10px 10px;
  border-radius: 4px;
}
.submit-form {
  background-color: #253a82;
  color: #c9e4ff;
  border: none;
  transition: 0.1s;
  margin: 10px 0px 10px 0px;
  height: 40px;
  font-weight: 600;
}

.submit-form:hover {
  cursor: pointer;
}

.post-submit {
  width: fit-content;
  padding: 10px;
}

.unabled,
.unabled:hover {
  background-color: #ffffff81;
  color: rgba(255, 255, 255, 0.429);
}

.login {
  margin-bottom: 60px;
  font-size: small;
  background-color: #c9e4ff;
  color: #253a82;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .form-section {
    height: fit-content;
    padding: 10px;
    flex-direction: column;
    width: 40%;
  }
  .form-section-child {
    margin-bottom: 40px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form-section {
    height: fit-content;
    width: 60%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .form-section {
    height: fit-content;
    width: 90%;
    padding: 10px;
    flex-direction: column;
  }
  .form-section div {
    padding: 0px 0px 0px 8px;
  }
  .site-name {
    margin-bottom: -20px;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tag-line {
    margin-top: -16px;
  }
  .form-section-child {
    margin: auto;
    width: 100%;
    margin: 10px auto;
  }
  .submit-form {
    font-size: 14px;
    height: 40px;
  }
  .login {
    font-size: 12px;
  }
  #logo {
    padding-left: 20px;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255, 0.9);
}

.main-cont {
  width: 38%;
  max-width: 600px;
  min-width: 320px;
}

.profile-heading,
.sub-heading {
  width: fit-content;
}

.sub-heading {
  color: #253a82;
  font-weight: 600;
  margin-top: 40px;
}

.nav-bar {
  padding: 10px;
  margin: 0px auto;
  width: 38%;
  max-width: 600px;
  min-width: 320px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  color: white;
  margin: auto 20px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account {
  background-color: #4f6483;
}

.name {
  font-size: large;
  font-weight: 500;
  padding: 0px;
  align-items: end;
  background-color: rgba(255, 255, 255, 0);
}

.content {
  white-space: pre-line;
  color: rgba(255, 255, 255, 0.9);
  margin: 4px 0px 12px 0px;
  background-color: inherit;
}

#comment-text {
  margin-bottom: 18px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.settings-post {
  margin: 0px 0px 8px 0px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  background-color: #111863;
  text-decoration: none;
  padding: 16px;
}

/* Profile styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateZ(-20px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeOut {
  animation: fadeOut 0.5s forwards; /* Animation for hiding */
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.modal-content {
  background-color: #c9e4ff;
  margin: 13vh auto;
  padding: 20px;
  height: 0%;
  width: fit-content;
  min-width: 300px;
  /* min-width: 460px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s; /* Animation for content */
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.alert1,
.alert2,
.alert3,
.alert4 {
  margin: 40vh auto;
  height: 18vh;
}

h2,
h3 {
  margin: 0px 0px 20px 0px;
  color: #253a82;
  background-color: #c9e4ff;
}

.close {
  background-color: #111863;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
}

.modal form {
  background-color: #111863;
  display: flex;
  flex-direction: column;
}

#logout .btns {
  margin-top: 10px;
  background-color: #253a82;
  background-color: #c9e4ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logout .btns input {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #324ea8;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
#logoutBtn {
  margin-left: 10px;
}

#logout .alert1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40vh auto;
  height: 16vh;
}
#logout-heading {
  margin: 0px;
}
.loading {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
.nav-links {
  display: flex;
  flex-direction: row;
}
.submit-form {
  width: 100%;
}
@media (max-width: 1024px) {
  .main-cont,
  .nav-bar {
    width: 50%;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
  }
  #logout .alert1 {
    height: 24vh;
  }
}

@media (max-width: 768px) {
  .main-cont,
  .nav-bar {
    width: 80%;
  }
  .nav-links {
    flex-direction: row;
    align-items: flex-end;
  }
  .nav-items {
    font-size: small;
    padding: 8px 12px;
    margin: 5px;
  }
  .modal-content {
    width: 80%;
  }
  #logout .alert1 {
    height: 24vh;
  }
}

@media (max-width: 480px) {
  .main-cont,
  .nav-bar {
    width: 90%;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .nav-items {
    text-align: center;
    padding: 10px 0px;
  }

  .create-post {
    margin-top: 16px;
    padding: 15px;
  }

  .submit-form {
    width: 100%;
  }
  .modal-content {
    margin: 50% auto;
    height: 50%;
    width: fit-content;
    padding: 15px;
  }
  #logout .alert1 {
    height: 16vh;
  }
  #logout h2 {
    font-size: 24px;
  }
  .hamburger-button {
    margin-left: 0px;
  }
}

.likeNtime {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  color: gray;
  font-size: 14px;
}

.user {
  font-size: medium;
  background-color: #253a82;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: inherit;
}

.user-name {
  color: rgba(255, 255, 255, 0.6);
  font-size: medium;
  font-weight: normal;
  background-color: inherit;
  margin-bottom: 10px;
}

.menu-button,
.fa-bars {
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  border: none;
  background: none;
}
.fa-bars {
  margin-left: 10px;
  color: #253a82;
}
.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: #253a82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  min-width: 120px;
  padding: 5px 0;
  flex-direction: column;
  margin-top: 60px;
  width: 180px;
  height: fit-content;
  justify-content: space-around;
}

.menu-dropdown a,
.go-back {
  color: white;
  background: #253a82;
  display: block;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
  margin: 0px 10px 0px 10px;
  border-radius: 4px;
}

.fa-pen-to-square {
  background-color: #ffffff00;
}

.fa-ellipsis-vertical {
  padding: 0px 8px 6px 8px;
  align-self: flex-start;
  font-size: large;
  color: #c9e4ff;
}

.menu-dropdown a:hover,
.go-back:hover {
  background: #182755;
}
#home-logout {
  font-size: medium;
}
.show {
  display: flex;
}
@media (max-width: 480px) {
  .menu-dropdown {
    text-align: start;
    width: 140px;
    height: fit-content;
  }

  .menu-dropdown a {
    justify-content: start;
  }

  .hamburger-button {
    margin-left: 4px;
  }
}

.like {
  background-color: #c9e4ff;
}

.fa-heart,
.fa-comment {
  background-color: #c9e4ff;
  margin-right: 8px;
}
.fa-right-from-bracket {
  font-size: x-large;
  color: #253a82;
  margin-left: 8px;
}
.like-count,
.dateNtime {
  color: #253a82;
  font-weight: 600;
  align-self: center;
  background-color: inherit;
}
.dateNtime {
  font-weight: 500;
  color: #ffffff99;
}
.likeNheart {
  text-decoration: none;
  color: white;
  background-color: #c9e4ff;
  width: fit-content;
  padding: 5px 8px;
  display: flex;
  border-radius: 22px;
  flex-direction: row;
  margin-right: 12px;
  -webkit-tap-highlight-color: transparent;
}

.red {
  color: red;
}

.reply {
  color: #253a82;
  background-color: #c9e4ff;
}

button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
#menuComment {
  margin-top: -20px;
}
.postComment {
  margin-bottom: -4px;
}
.disable {
  opacity: 0.6;
}
.spinner,
.spinner-invert {
  background-color: #253a82;
  border: 3px solid #c9e4ff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: #253a82;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
.spinner-invert {
  background-color: #c9e4ff;
  border: 3px solid #253a82;
  border-left-color: #c9e4ff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
